
#
# Brews
#
brew "libyaml"
brew "openssl"
brew "ansible"
brew "python"
brew "bat"
brew "ffmpeg"
brew "git"
brew "go"
brew "ruby-build"
brew "rbenv"
brew "rsync"
brew "rtmpdump"
brew "thefuck"
brew "wget"
brew "wireshark"
brew "youtube-dl"

#
# Casks
#
cask "dash"
cask "docker"
cask "firefox"
cask "fluid"
cask "google-chrome"
cask "iterm2"
cask "postman"
cask "sequel-pro"
cask "slack"
cask "spectacle"
cask "spotify"
cask "sublime-text"
