#
# {{ ansible_managed }}
#

Include ~/.ssh/config.local
Include ~/.ssh/customer-config.d/*.conf

Host *
    ServerAliveInterval 60
    UseKeychain yes
    AddKeysToAgent yes

Host 127.0.0.1
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
