#
# {{ansible_managed}}
#

#
# Taps
#
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
tap "inviqa/tools"

#
# Brews
#
brew "libyaml"
brew "openssl"
brew "ansible"
brew "docbook"
brew "asciidoc"
brew "autoconf"
brew "automake"
brew "python"
brew "awscli"
brew "bat"
brew "boost"
brew "cloc"
brew "cmake"
brew "diff-so-fancy"
brew "dnsmasq", restart_service: true
brew "faac"
brew "lame"
brew "x264"
brew "xvid"
brew "ffmpeg"
brew "fswatch"
brew "fzf"
brew "gettext"
brew "gifsicle"
brew "git"
brew "libgpg-error"
brew "libassuan"
brew "pinentry"
brew "gnupg"
brew "go"
brew "htop"
brew "httpie"
brew "hugo"
brew "lastpass-cli", args: ["with-pinentry"]
brew "libav"
brew "libtool"
brew "mailhog", restart_service: true
brew "mas"
brew "mitmproxy"
brew "nmap"
brew "pv"
brew "ruby-build"
brew "rbenv"
brew "rbenv-chefdk"
brew "rsync"
brew "rtmpdump"
brew "thefuck"
brew "wget"
brew "wireshark"
brew "youtube-dl"

#
# Casks
#
cask "adobe-acrobat-reader"
cask "alfred"
cask "android-platform-tools"
cask "atom"
cask "charles"
cask "cyberduck"
cask "dash"
cask "docker"
cask "electron"
cask "firefox"
cask "fluid"
cask "flux"
cask "google-chrome"
cask "hem"
cask "iterm2"
cask "kitematic"
cask "licecap"
cask "metasploit"
cask "mongodb-compass"
cask "ngrok"
cask "numi"
cask "opera"
cask "phpstorm"
cask "postman"
cask "sequel-pro"
cask "sketch"
cask "skitch"
cask "skype"
cask "slack"
cask "spectacle"
cask "spotify"
cask "staruml"
cask "steam"
cask "sublime-text"
cask "thyme"
cask "virtualbox"
cask "vlc"
cask "whatsapp"
cask "wireshark"
