#
# {{ansible_managed}}
#
# brew bundle dump
# cat Brewfile | grep ^tap | pbcopy
# cat Brewfile | grep ^brew | pbcopy
# cat Brewfile | grep ^cask | pbcopy
#

#
# Taps
#
{% for item in homebrew_taps %}
tap "{{ item }}"
{% endfor %}

#
# Brews
#
{% for item in homebrew_packages %}
brew "{{ item }}"
{% endfor %}

#
# Casks
#
{% for item in homebrew_casks %}
cask "{{ item }}"
{% endfor %}
